:root {
  --ff-primary: "MedievalSharp", cursive;
  --fs-h1: 2rem;
  --fs-h2: 1.85rem;
  --fs-h3: 1.65rem;
  --fs-bold: 1.75rem;
  --fs-body: 1.125rem;
  --clr-primary: #1c1c1c;
  --clr-body: #231d24;
  --clr-success: green;
  --clr-danger: red;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background: rgb(51, 43, 55);
  color: white;
  font-size: var(--fs-body);
  text-align: center;
}
section {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  background: var(--clr-body);
  padding: 5px 0;
  margin: 20px 0;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  padding-bottom: 0;
  box-shadow: inset 0px 0px 6px 2px rgba(100, 100, 100, 0.2),
    0px 0px 10px rgba(117, 182, 214, 0.2);
}
.character-img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: inset 0px 0px 6px 2px rgba(129, 127, 127, 0.2),
    0px 0px 10px rgba(130, 176, 199, 0.2);
}
.dice-div {
  background-color: var(--clr-primary);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-bold);
  font-weight: bold;
  text-align: center;
  background-color: aliceblue;
  border-radius: 5px;
  color: var(--clr-primary);
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
.placeholder-dice {
  border: 1px solid rgb(129, 127, 127);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
.health-bar-outer,
.health-bar-inner {
  width: 100%;
  border-radius: 5px;
}
.health-bar-inner {
  background-color: var(--clr-success);
  padding: 5px;
  margin-bottom: 10px;
}
.health-bar-inner.danger {
  background-color: var(--clr-danger);
}
#attack-btn {
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: var(--fs-bold);
  margin: 0 auto;
  background-color: #fcc02a;
  border: none;
  outline: none;
  border: 2px solid #963404;
  border-radius: 6px;
  padding: 0.45em 1.75em;
}
.end-emoji {
  font-size: 2.5rem;
}

@media (min-width: 700px) {
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    width: 90%;
  }
  .container {
    width: 300px;
  }
}
